.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

.sidebarFriendWrapper {
  display: flex;
  align-items: center;
}
  
.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.sidebarFriend {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.sidebarFriendBtn {
 background-color: var(--clr-primary-1);
 border-radius: 10px;
 color: var( --white-color);
 border: none;
 padding: 5px;
 cursor: pointer;
 width: 90px;
}

.sidebarFriendBtn.mobile {
  background-color: var( --lime-green-color);
  width: 80px;
  margin-right: 4px;
}

.sidebarFriendBtn.mobile:hover {
  background-color: var( --lime-green-color-hover);
}

.sidebarFriendBtn:hover {
  background-color: var(--clr-primary-1-hover);
}

.sidebarFriendName.mobile {
  color: var( --white-color);
}

@media (min-width:740px) and (max-width:1023px) {
  .sidebarFriendBtn {
 
    width: 75px;
    height: 30px;
    margin-left: 10px;
   }
   .sidebarFriendName{
     font-size: 18px;
     color: var(--black-color);
     font-weight: 400;
   }
   .sidebarFriend {
     display: flex;
     align-items: center;
     justify-content:flex-end;
   }
}
