.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.profileCoverWrapper {
    width: 20px;
    height: 30px;
    position: relative;
    top: -250px;
    z-index: 999;
}
.profileCoverIcon {
    color: var(--gray-color);
    position: absolute;
    margin: 0 auto;
    cursor: pointer;
    
}
.profileCoverInput {
    position: absolute;

}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid var(--white-color);
}
.profileUserInput {
   position: absolute;

  
}
.profileUserWrapper{
    width: 20px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    top: -30px;

}
.profileUserIcon {
    color: var(--gray-color);
    position: absolute;
   

    margin: 0 auto;
    cursor: pointer;
    
}
.profileUserIcon:hover {
    color: var( --gray-color-hover)
 
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.profileInfoBtns {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

 .profileInfoBtns button {
    font-size: 24px;
} 

@media (min-width:740px) and (max-width:1023px) {
    .profileInfoBtns {
        display: flex;
    }
  
}
@media  (max-width:739px) {
  .profile {

    overflow-x: hidden;
}

  .profileInfo{
 height: 60%;
}
.profileInfoName {
    height: 18px;
    margin: 0 0 20px 0;
}
.profileInfoBtns {
    display: flex;
}

}