.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
.chatMenu {
    flex: 3.5;
}
  
.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--gray-color);
}

  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
 }
  .startConversation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding: 80px;
    width: 50%;
    color: var(--gray-light-color);

  }

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
  }
  
.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--clr-primary-1);
    color: var( --white-color);
}
  
.chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: var( --gray-lighter-color);
    cursor: default;
  }
  
  @media (min-width:740px) and (max-width:1023px) {
    .messenger {
      height: 750px;
      min-width: 820px;

    }
    
    .chatOnline {
      flex: 0;
      display: none;
    }

    .chatMenu {
      flex: 3;

    }
    .chatBoxTop {
      height: 100%;
      overflow-y: scroll;
    
   }
    .chatBox{
      flex:9;
      height: 100%;
    }
    .chatSubmitButton {
      width: 90px;
    }
  }
  @media  (max-width:739px) {
    .messenger {
    min-width: 370px;
     height: 600px;
     overflow: hidden;
    }
    .chatOnline {
  
      display: none;
    }
    .chatBox{
      flex:12
    }

    .chatMenu {
      display: none;

    }
    .chatMenuInput{
      display: none;
    }
    .chatMessageInput {
      width: 100%;
      height: 80px;
      font-size: 22px;
    }
    .chatSubmitButton {
      margin-left: 4px;
      width: 85px;
    }
    .chatOnlineWrapper {
      padding-left: 0;
    }
    .chatBoxWrapper {
      padding-right: 0;
    }
    .chatBoxTop {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      padding-right: 10px;
   }
   .chatBoxBottom {
     height:28% ;
   }

  }
  
  