.burgerNav {
  margin-top: 50px;

}
.burgerContent {
  display: flex;
  flex-direction: column;
 align-items: center;
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 100%;
    width: 70%;
    padding: 10px 15px;
    transform: translateX(150%);

    background-color:var( --clr-primary-1-hover);

    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.burgerContent.active {
  transform: translateX(30%);
}

.burgerContainer {
  width: 100%;
}
.onlineFriends {
  display: flex;
  flex-direction: column;
}

.onlineFriend {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.7;
  padding: 10px 0;
  margin: 2px 0;
  color: var(--white-color);
  cursor: pointer;
}
.burgerOverlay {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.292);
  transition: all 0.3s ease;
}

.burgerOverlay.active {
  opacity: 1;
  visibility: visible;
}


.profileBugerWrapper {
display: flex;
align-items: center;
justify-content: space-evenly;
margin-bottom: 5px;
}
.profileBuger {
  display: flex;
align-items: center;
justify-content: space-evenly;
}
.profileBugerWrapper span {
  font-size: 20px;
  margin-right: 8px;
  color: var(--white-color);
}

.burgerImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.bugerLogoutBtn {
  background-color: var( --clr-primary-1-hover);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  margin-left: 4px;
  font-size: 22px;

  margin-top: 10px;
}
.burgerCoversations {
  color: var(--white-color);
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

.profileFriendWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;

}

.burgerFriendImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 8px;
}
