.topbarContainer {
  height: 50px;
 width: 100%;
  background-color:var(--clr-primary-1);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index:1999;
}

.topbarLeft {
  flex: 3;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--white-color);
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.topbarMenuIcon {
  display: none;

  
}

.topbarProfile {
  display: flex;
  align-items: center;
  
}
.topbarLink {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
}
.profileWrapper {
  display: flex;
align-items: center;
justify-content: space-between;
}
.profileWrapper span {
  font-size: 16px;
  margin-right: 8px;
}

.logoutBtn {
  background-color: var( --clr-primary-1);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  margin-left: 4px;
  font-size: 15px;
}
.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: var(--red-color);
  border-radius: 50%;
  color: var(--white-color);
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.burgerNavbar {
  display: none;
}


@media (min-width:740px) and (max-width:1023px) {
  
  .profileWrapper span {
    display: none;
  }
  .searchbar {

    width: 85%;
  }

  .topbarRight{
    flex:5
  }
  .topbarMenuIcon{
    display: none;
  }
}

@media  (max-width:739px) {

.topbarContainer {
 padding-bottom: 5px;
}
  .searchbar {
    display: none;
  }

  .profileWrapper span {
    display: none;
  }
  .topbarRight {
    flex: 10;
  }
  .topbarIconItem {
    padding-left: 10px;
  }

  .topbarCenter{
    flex: 0;
  }
  .topbarLeft {
    flex:2;
    margin-left: 12px;
  }
  .logo {
    font-size: 22px;
   
  }
  .topbarProfile {
    display: none;
  }
  .topbarMenuIcon {
    display: flex;
  }
  .burgerNavbar {
    display: block;
  }
}