.register {
  width: 100vw;
  height: 100vh;
  background-color: var( --clr-primary-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: var(--clr-primary-1);
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 24px;
}

.registerBox{
    height: 400px;
    padding: 20px;
    background-color: var( --white-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--gray-color);
    font-size: 18px;
    margin: 10px;
    padding-left: 20px;
}

.registerInput:focus{
    outline: none;
}

.registerButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--clr-primary-1);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}


.registerButton{
    width: 100%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--clr-primary-1);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.registerButton:hover {
  background-color: var(--clr-primary-1-hover)
}

.loginButton {
  width: 100%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--lime-green-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}


.loginButton:hover {
  background-color: var(--lime-green-color-hover);
}

@media (min-width:740px) and (max-width:1023px) {
  .registerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
  }
  .registerLeft {
    flex:4;
    width: 100%;
  }
  .registerRight {
    flex: 8;
    margin-right: 30px;
    width: 120%;
   
  }
  .registerLogo {
    font-size: 70px;
  }
  .registerDesc {
    font-size: 45px;
  }
  .registerBox {
    width: 100%;
    padding: 20px;
    height: 450px;
   margin-bottom: 200px;
 
  }
  .registerInput{
    height: 80px;
    font-size: 30px;

  }

  .registerBtn{ 
    height: 80px;

  }
  .registerButton {
    height: 80px;
  }
  .loginButton {
    height: 80px;

  }

}

@media  (max-width:739px) {
 
  .registerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100;
    height: 100%;
  }
  .registerLeft {
    flex:4;
    width: 100%;
  }
  .registerRight {
    flex: 8;
    margin-right: 30px;
  }
  .registerBox {
    width: 100%;
    padding: 20px;
   margin-bottom: 200px;
 
  }
}